# Runtime artifacts
/build
/src/_compress.c
/tmp/
*.pyc
*.egg
*.so
*.sw[op]
.cache

# Coverage test artifacts
htmlcov/
.coverage
coverage.xml
junit.xml

# PyCharm IDE
/.idea/

# Virtual Environments
/.tox/
/.venv/

# Install Artifacts
*.eggs/
*.egg-info/
